<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="ejs.js"></script>
    <script src="cordova.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCutay0Jwul1EBCSHPWo3L5VquMcDEJas8",
            authDomain: "psu-vehicle.firebaseapp.com",
            databaseURL: "https://psu-vehicle.firebaseio.com",
            projectId: "psu-vehicle",
            storageBucket: "psu-vehicle.appspot.com",
            messagingSenderId: "120118808842"
        };
        firebase.initializeApp(config);
        // Initialize Cloud Firestore through Firebase
        var db = firebase.firestore();
        // Disable deprecated features
        db.settings({
            timestampsInSnapshots: true
        });
    </script>
    <style>
        .toolbaricon {
            padding-left: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
            color: rgb(149, 210, 215);
        }


        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button3 {
            background-color: #f44336;
        }
    </style>
</head>


<body>
    <div>
        <ons-navigator swipeable id="myNavigator" width="300px">
            <ons-page>
                <ons-toolbar style="background:rgb(129, 129, 129);">
                    <div class="left">
                        <ons-icon class="toolbaricon" size="30px" icon="fa-expand" onclick="window.location.href='scan.html'">
                        </ons-icon>
                    </div>

                    <div class="center" id="appname">
                        PSU VEHICLE
                    </div>

                    <div class="right">
                        <ons-icon class="toolbaricon" size="30px" icon="fa-cogs" onclick="window.location.href='logout.html'">
                        </ons-icon>

                    </div>
                </ons-toolbar>
                <ons-tabbar swipeable position="auto" id="tabbar">
                    <ons-tab page="tab1.html" label="Home" icon="ion-home, material:md-home" active style="background:rgb(129, 129, 129);">
                    </ons-tab>
                    <ons-tab page="tab2.html" label="Massage" icon="fa-envelope" active-icon="fa-envelope-open" style="background:rgb(129, 129, 129)">
                    </ons-tab>
                    <ons-tab page="tab3.html" label="Profile" icon="fa-user-alt" active-icon="fa-user" style="background:rgb(129, 129, 129)">
                    </ons-tab>

                </ons-tabbar>
            </ons-page>
        </ons-navigator>
    </div>
    <template id="tab1.html">
        <ons-page id="Tab1">
            <ons-carousel swipeable auto-scroll overscrollable id="carousel" style="height: 800px;">
                <ons-carousel-item id="carousel1" style="background: url('img/Logo-PSU-TH-01.png') no-repeat center; background-size: contain;"
                    style="background:#CC6600;">
                </ons-carousel-item>
                <ons-carousel-item id="carousel2" style="background: url('img/p.jpg') no-repeat center; background-size: contain;"
                    style="background:#CC6600;">
                </ons-carousel-item>
                <ons-carousel-item id="carousel3" style="background: url('http://www.timesignsmfg.com/sites/default/files/R6-1.png?fbclid=IwAR0Tn9QZjfpWUmzPIbd6aIuRqjnnxvgYQL4aQ1AUTvY8SL11RQURs9i0ncE') no-repeat center; background-size: contain;"
                    style="background:#CC6600;">
                </ons-carousel-item>
            </ons-carousel>
        </ons-page>
    </template>
    <template id="tab2.html">

    </template>

    <template id="tab3.html">
        <ons-page>

            <div id="datacar"></div>
            <script id="product_template" type="text/template">
         <ons-row>
                <% datacar.forEach(function(datacar){
                  var datacar = datacar.data();
                  %>
        <ons-list-header>Thumbnails and titles</ons-list-header>
            <ons-list-item>
              <div class="left">
                  <ons-card onclick="detail('<%- datacar.id %>')"  >
                <img class="" src="<%= datacar.photo[0] %>" width="99%" height="80px"><br>
              </div>
              <div class="center">
                <span class="list-item__title">ป้ายทะเบียน : <%= datacar.Licenseplate %></span><span class="list-item__subtitle">ประเภทรถ :<%= datacar.category %></span>
                <span class="list-item__subtitle">ID :<%= datacar.id %></span><span class="list-item__subtitle">ชื่อ :<%= datacar.name %></span>
                <span class="list-item__subtitle">รหัสนักศึกษา :<%= datacar.sid %></span>
                <span class="list-item__subtitle">สาขา: <%= datacar.Major %></span><span class="list-item__subtitle">ยี่ห้อรถ : <%= datacar.brand %></span>
               
              </div>
            </ons-list-item>
        
        
        <%});%> 
         </ons-row>
         
        
        </Script>
        
            </div>

        </ons-page>
    </template>

    <template id="tab4.html">
        <p style="text-align: center; margin-bottom: 3px;">
            scan
            <div id="show">

            </div>

    </template>



</body>
<script>


    function getproductData(name) {
        console.log(name);
        if (name == null) {
            db.collection("DATACAR").get()
                .then(function (querySnapshot) {
                    // doc.data() is never undefined for query doc snapshots
                    var product_template = $('#product_template').html();
                    console.log(querySnapshot.docs);
                    var html = ejs.render(product_template, { datacar: querySnapshot.docs });
                    $('#datacar').html(html);
                })
                .catch(function (error) {
                    console.log("Error getting documents: ", error);
                });
        } else {
            db.collection("DATACAR").where("category", "==", name).get()
                .then(function (querySnapshot) {
                    console.log(querySnapshot.docs);
                    if (querySnapshot.docs.length == 0) {
                        var html = "ไม่มีสินค้าที่คุณเลือก"
                        db.collection("DATACAR").get()
                            .then(function (querySnapshot) {
                                // doc.data() is never undefined for query doc snapshots
                                var product_template = $('#product_template').html();
                                console.log(querySnapshot.docs);
                                html += ejs.render(product_template, { datacar: querySnapshot.docs });
                                $('#datacar').html(html);
                            })
                            .catch(function (error) {
                                console.log("Error getting documents: ", error);
                            });
                    } else {
                        db.collection("DATACAR").where("category", "==", name).get()
                            .then(function (querySnapshot) {
                                // doc.data() is never undefined for query doc snapshots
                                console.log(querySnapshot.docs);
                                var product_template = $('#product_template').html();
                                var html = ejs.render(product_template, { datacar: querySnapshot.docs });
                                $('#datacar').html(html);
                            })
                            .catch(function (error) {
                                console.log("Error getting documents: ", error);
                            });
                    }

                })
        }
    }
</script>

</html>